altair
boto3==1.24.59
botocore
cacheout
fastapi
functime
holidays
httpx
modal-client
openpyxl
pandas==2.0.1
polars==0.17.14
psycopg2-binary
pyarrow
pyecharts
PyJWT
s3fs
sqlmodel
uvicorn==0.20.0
pyecharts
xlsx2csv
websockets
# pylance==0.4.13
tabulate
